@import "font-roboto.less";
@bodycolor:#e5e5e5;


body{
    background-color: @bodycolor;
    font-family: 'Roboto', sans-serif;
    color:#000;
    font-size:14px;
    line-height: 24px;
}
.nav__bar{
    .nav-item{
        .nav-link{
            font-size:16px;
            text-transform: uppercase;
            padding: 10px 20px;
            color:#000;
            font-weight: 500;
            letter-spacing: 1.2px;
            &:hover{
                color:#6b7afe
            }
            &.active{
                color:#6b7afe !important;
                border-bottom: 1px solid #6b7afe;
            }
        }
    }
}
.navbar-brand{
    border-bottom: none !important;
}

.home-page{
    padding:90px 0;
    background-color: #fff;
    img{
        max-width: 100%;
    }
    h1{
        font-size:28px;
        font-weight: 300;
        margin:0 0 20px;
        strong{
            color:#6b7afe;
            font-weight: 400;
        }
    }
    p{
        font-size:16px;
        line-height: 28px;
        font-weight: 300;
        color:#848d95;
        margin-bottom: 30px;

    }
}