* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
  color: blue;
}
a:active,
a:hover,
a:focus {
  color: blue;
}
body {
  background-color: #e5e5e5;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Slab Light'), local('JosefinSlab-Light'), url(https://fonts.gstatic.com/s/josefinslab/v10/lW-mwjwOK3Ps5GSJlNNkMalvASy6KerlFAke7w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.gstatic.com/s/josefinslab/v10/lW-5wjwOK3Ps5GSJlNNkMalnqg6vBMjoPg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Slab SemiBold'), local('JosefinSlab-SemiBold'), url(https://fonts.gstatic.com/s/josefinslab/v10/lW-mwjwOK3Ps5GSJlNNkMalvdSq6KerlFAke7w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'), url(https://fonts.gstatic.com/s/josefinslab/v10/lW-mwjwOK3Ps5GSJlNNkMalvESu6KerlFAke7w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.heading {
  font-size: 40px;
  margin: 50px 0 70px;
  color: #111;
  text-align: center;
  font-weight: 700;
}
.img__div {
  display: flex;
  justify-content: center;
}
.img__div img {
  border: 2px solid blue;
  padding: 5px;
  max-height: 450px;
}
.border__box {
  border-radius: 40px;
  background-color: #dbcaca;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
}
.header-data ul li {
  display: inline-block;
}
.header-data ul li a {
  display: block;
  padding: 10px 20px;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 20px;
}
.card-wrapper img {
  max-width: 100%;
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.card-wrapper .cards {
  padding: 20px;
  flex-grow: 1;
  flex-basis: 18%;
  margin-right: 15px;
  box-shadow: 0 4px 8px 0 rgba(164, 164, 164, 0.21);
  background-color: #fff;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .card-wrapper .cards {
    flex-basis: 47%;
  }
}
@media only screen and (max-width: 767px) {
  .card-wrapper .cards {
    flex-basis: 100%;
  }
}
.card-wrapper .cards:last-child {
  margin-right: 0;
}
.card-wrapper .cards:hover {
  transform: scale(1.1);
  transition: 1.3s ease;
}
.card-wrapper .cards .card__categary {
  font-size: 20px;
  margin: 15px 0;
  display: inline-block;
}
.card-wrapper .cards .card__heading {
  font-size: 18px;
  margin: 0 0 20px;
}
.card-wrapper .cards button {
  border: 1px solid blue;
  color: blue;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  background-color: transparent;
  border-radius: 3px;
}
.card-wrapper .cards button:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.footer-data ul li {
  display: inline-block;
}
.footer-data ul li a {
  display: block;
  padding: 10px 20px;
}
.heading_style {
  text-align: center;
  font-size: 30px;
  margin: 50px 0;
}
.slot__innerwraper {
  border: 2px solid #ddd;
  border-radius: 5px;
  max-width: 360px;
  margin: 30px auto;
}
.slot__wrapper {
  padding: 10px 0 0;
  text-align: center;
}
.slot__wrapper p {
  margin-bottom: 10px;
}
.slot__wrapper p span {
  display: inline-block;
  margin-right: 20px;
}
.slot__wrapper h2 {
  margin: 20px 0;
}
.slot__wrapper hr {
  border-bottom: 0;
}
.visiterClick {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}
.visiterClick button {
  background-color: darkorange;
  color: #000;
  padding: 10px 20px;
  display: inline-block;
  margin: 10px 0;
  border: none;
  font-size: 28px;
}
